#footer
{
    
    position: relative;
    padding: 64px 0;
    @include bp($s-md) {
        padding: 164px 0 67px 0;
    }


    img {
        width: 100%;
    }
    p {
        font-family: "MaisonNeue-Demi";
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.2;
        letter-spacing: normal;
        text-align: left;
        color: $c-black;
        font-size: 18px;
        margin-top: 20px;
        
        @include bp($s-md){
            font-size: 24px;
            margin-top: 0;
        }

        @include bp($s-xl){
            font-size: 30px;
        }

        @include bp($s-xl){
            font-size: 38px;
        }

    }

    ul {
        display: inline-block;
        margin-top: 25px;
        @include bp($s-md){
            position: absolute;
            bottom: 67px;
        }
        li {
            font-family: "MaisonNeue-Demi";
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.2;
            letter-spacing: normal;
            text-align: left;
            color: $c-black;
            border-bottom: 1px solid $c-black;
            font-size: 18px;
            margin-bottom: 13px;
            
            @include bp($s-sm) {
                margin-bottom: 0;
                float: left;
                margin-left: 39px;
            }

            @include bp($s-md){                
                font-size: 24px;
            }

            @include bp($s-xl){
                font-size: 30px;
            }

            @include bp($s-xl){
                font-size: 38px;
            }

            &:hover {
                border-bottom: 2px solid $c-black;
                margin-bottom: -1px;
            }
            &:first-child{
                margin-left: 0;
            }
        }
    }
}