input,
textarea,
select
{
	&::-webkit-input-placeholder 
	{
		color: rgba($c-black, 0.5);
	}

	&:-ms-input-placeholder 
	{
	  	color: rgba($c-black, 0.5);
	}

	&::placeholder 
	{
		color: rgba($c-black, 0.5);
	}

	&:focus{
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
} 
}