@import "compass";

* {}

body 
{
	background-color: $c-white;
	overflow-x: hidden;
	outline: none;
	color: $c-black;

	&.using-mouse
	{
		:focus 
		{
			outline: none;
		}
	}
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}

.flex
{
	display: flex;
	flex-wrap: wrap;
}

.divider {
	height: 2px;
	background-color: $c-black;
}

.align-left
{
	text-align: left;
}

.align-right
{
	text-align: right;
}

p
{
	font-size: 16px;
	line-height: 24px;

	@include bp($s-lg) 
	{
		font-size: 16px;
		line-height: 24px;
	}
}