body {
	max-width: 100vw;
}

#logo {
	img {
		width: 25%;
	}
	
}

header {
	overflow-x: hidden;
}
#header-mobile
{
	position: fixed;
	background: linear-gradient(to bottom,#fff 0,rgba(255,255,255,.2) 76%,rgba(255,255,255,0) 100%);
	height: 64px;
	width: 100vw;
	padding: 8px 24px;
	z-index: 9999;
	top: 0px;

	.hamburger
	{
		float: right;
		margin-top: 12px;
		
		.hamburger-inner
		{
			background-color: $c-hamburguer-color;

			&:before,
			&:after
			{
				background-color: $c-hamburguer-color;
			}
		}
	}

	#logo
	{
		display: flex;
		align-items: center;
		height: 100%;
		float: left;
		img
		{
			height: 70%;
		}
	
	}
}

#mobile-menu
{
	width: 100%;
	position: fixed;
	height: calc(100vh - 64px);
	top: 64px;
	background-color: $c-gray;
	z-index: 9998;
	right: -100%;
	transition: all 0.2s ease-in-out;


	ul
	{
		li
		{
			border-bottom: 1px solid $c-dark-gray;
			padding: 24px 16px;

			ul {
				li {
					padding: 12px 0 0 24px;
					border-bottom: 0;
				}
			}

			a
			{
				font-size: 20px;
				color: $c-dark-gray;
			}
		}
	}

	&.open
	{
		right: 0px;
	}
}

#header
{
	&.scrolled
	{
		#header-desktop
		{
			top: 20px;
		}
	}

	#header-desktop
	{
		position: fixed;
		width: 100%;
		height: 98px;
		left: 0px;
		background: linear-gradient(to bottom,#fff 0,rgba(255,255,255,.2) 76%,rgba(255,255,255,0) 100%);
		z-index: 100;
		transition: all 0.5s ease-in-out;
		display: flex;
		align-items: center;
		justify-content: right;

		
		

		.menu-main-container {
			display: flex;
			align-items: center;
			justify-content: right;
			ul {
				display: inline-block;
				margin-right: 0;
				li {
					float: left;
					margin-left: 25px;
					font-size: 44px;
					font-weight: 500;
					font-stretch: normal;
					font-style: normal;
					line-height: 1.2;
					letter-spacing: normal;
					text-align: right;
					padding: 34px 0 20px 0;
					&:first-child{
						margin-left: 0;
					}

					&:hover {
						a {
							text-decoration: underline;
						}
					}
				}
			}
		}
		

		.menu-main-menu-container
		{
			float: left;
			position: relative;
			margin-left: 30px;
			height: 100%;

			ul
			{
				height: 100%;
				display: flex;
				align-items: center;

				li
				{
					display: inline-block;
					margin-left: 20px;
					

					@include bp($s-lg) 
					{
						margin-left: 24px;
					}

					&:first-child
					{
						margin-left: 0px;
					}

					&.current_page_item
					{
						a
						{
							color: $c-white;
						}
					}

					&.partner-menu
					{
						background-color: $c-white;
						border-radius: 15px;
						padding: 5px 10px;
						cursor: pointer;

						a
						{
							color: $c-blue;
						}

						&:hover
						{
							background-color: $c-blue;

							a
							{
								color: $c-white;
							}
						}
					}

					&.platform-menu
					{
						background-color: $c-blue;
						border-radius: 15px;
						padding: 5px 10px;
						cursor: pointer;

						a
						{
							color: $c-white;
						}

						&:hover
						{
							background-color: $c-white;

							a
							{
								color: $c-blue;
							}
						}
					}

					&.menu-item-object-custom
					{
						text-decoration: none;
					}

					a
					{
						font-size: 12px;
						color: rgba($c-white, 0.7);

						@include bp($s-lg) 
						{
							font-size: 12px;
						}

						&:hover
						{
							color: $c-white;
						}
					}
				}
			}
		}
	}
}

.wpcf7-response-output {
	border: 0 !important;
	text-align: center!important;
	font-size: 23px!important;
}
.screen-reader-response {
	position: relative!important;
}
.wpcf7-not-valid-tip {
    position: absolute;
	top: 53px;
}