@function rem( $size ) {
	@return ( $size / strip-unit( $f-size ) ) * 1rem;
}

@function strip-unit( $value ) {
	@return $value / ( $value * 0 + 1 );
}

@function image-url( $src ) {
	@return url("#{$img_path}/#{$src}");
}