// GENERAL VARS

// COLORS
$c-white    		: #ffffff;
$c-black    		: #000000;

$c-red 				: #983b3b;
$c-dark-red			: #AB1636;
$c-darker-red       : #96122e;
$c-blue				: #1C3E58;
$c-light-blue		: #16BECF;
$c-dark-blue		: #19113C;
$c-yellow			: #FFF380;
$c-dark-purple		: #181233;
$c-purple			: #564596;
$c-light-purple		: #A154A1;
$c-bg-purple		: #5D4BA1;
$c-orange			: #F7955B;
$c-dark-orange		: #BD343E;

$c-gray             : #efefef;
$c-gray2			: #EBEBEB;
$c-gray3			: #fdeded;
$c-light-gray		: #f4f4f4;
$c-light-gray2		: #fffcf5;
$c-light-gray3		: #dddddd;
$c-light-gray4		: #e3dfd5;
$c-light-gray5		: #ececec;
$c-dark-gray		: #32323D;
$c-dark-gray2		: #4d4d4d;
$c-dark-gray3		: #2c2c2c;
$c-dark-gray4		: #929292;
$c-green			: #A6CF4D;
$c-light-green 		: #ccff99;
$c-dark-green		: #72B252;
$c-orange			: #F7941D;
$c-sea-blue			: #007C9E;
$c-hamburguer-color : #000000;


// FONTS
$f-body				: "MaisonNeueExtended-Medium";
$f-title            : "MaisonNeueExtended-Bold";
$f-size				: 16px;

// SIZE
$gutter             : 30px;
$spacer             : 16px;
$s-max-width		: 800px;
$s-mx				: 500px;    // large mobile
$s-sm				: 768px; 	// 	Small devices
$s-md				: 992px; 	// 	medium devices
$s-lg				: 1200px;	// large devices
$s-xl				: 1440px;	// extralarge devices

// ANIMATION
$animation-time		: 0.3s;
$ease				: ease-in-out;
$transition-default	: $animation-time $ease;

// SHADOW
$shadow             : 0 1px 10px rgba($c-black, 0.1);

$img_path           : "../../images";
$font_path           : "../fonts";